@import url('https://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display:400,400i,700');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Fauna One', serif;
  font-size: 18pt;
  background-color: #ffffff;
  color : #000;
}
h1{
  font-family: 'Playfair Display', serif;

}
video{
  display: none;
}
#top{
  position: relative;
}
#toggle{
  cursor: pointer;
  background-color: #FF5252;
  width: 100vw;
  padding: 5px;
}
#controls{
  background-color: #FF5252;
}
header{
  background-color: #FF5252;
  position: relative;
  padding-bottom: 2%;
}
h1#title{
  font-size: 2.5em;
  margin-left: 25%;
  padding-bottom: 2%;
}
header p{
  margin-left: 25%;
  width: 50%;
  text-align: justify;
  color: #fff;
}
#container{
  width: 90vw;
  margin: auto;
}
#playground, #results{
  width: 50%;
  display: inline-block;
}
canvas{
  width: 90%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}
#results{
  padding-left: 5%;
  width: 40%;
}
#results h1{
  line-height: 2em;
}
#results p, #results i{
  padding-top: 8px;
  padding-bottom: 8px;
}
